/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0%; 
	padding: 0%; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 100%;
	line-height: 1.7;
	color: #fff;
	margin: 0%;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #000;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0%;
}

h1{
  font-weight: bold;
  color: #008205;
}

p {
	font-family: Poppins-Regular;
  font-weight: bold;
	font-size: 110%;
	line-height: 1.7;
	margin: 0%;
}

ul, li {
	margin: 0%;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*---------------------MODAL - SELECT------------------------*/
select {
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#6d6d6d;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #e5e5e5;
  overflow: hidden;
  border-radius: .25em;
}

.select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}

/*---------------------MODAL - FILE INPUT------------------------*/
.contenedor-btn-file input[type="file"] {
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.contenedor-btn-file {
  display: inline-block;
  position: relative;
  background-color: #45B649;
  color: #fff;
  border: 0;
  padding: 12px 12px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .15);
  overflow: hidden;
  transition: ease-out 120ms background-color;
}
.contenedor-btn-file:hover {
  background-color: #36963a;
}
.contenedor-btn-file:active {
  background-color: #29702b;
}
.contenedor-btn-file > i {
  margin-right: 15px;
}

.contenedor-btn-file label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
}


/*---------------------MODAL - BOOTSTRAP------------------------*/
.modal{
  --bs-modal-bg: #ffffff;
  --bs-modal-width: 800px;
    font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
}

.modal-header{
  background-color:#1a1a1a;
  color: #fff;
  border-bottom: none;
}

.modal-title{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.modal-body{
  padding: 4% 6%;
}

#imgVista {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
}

.mb-3 {
  margin-bottom: 2rem!important;
}

.row{
  align-items: center;
}

.col-form-label{
    color: #555;
    font-size: 15px;
    font-weight: 700;
}

.inputDiseno{
  background: #e5e5e5;
  line-height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 18px;
  font-size: 16px;
  color: #555;
  width: 100%;
}

.modal-footer{
  border-top: none;
}

.btn-modal{
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
    border-radius: 5px;
    background-color: #45B649;
}

.btn-modal:hover{
  background-color: #369f38;
}

.btn, .btn:hover{
  background-color: #45b649;
  color: #fff;
}
.btn-close {
  height: auto;
  opacity: 1;
  font-size: 18px;
}
/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 110%;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 110%;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
}



/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  min-height: 100vh;
}
.container-Logo{
  float: left;
  width: 60%;
  margin-left: 1%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

hr{
  height: 5px;
  background-color: #555;
  opacity: 1;
  border-radius: 5px;
}

.logoContainer{
  margin-bottom: 5%;
}

.container-LogoCentrado{
  text-align: center;
  align-self: center;
}

.container-login100 { 
  min-height: 100vh;
  flex-wrap: wrap;
  padding: 1.5%;
  float: right;
  width: 34%;
  display:flex;
  align-items: center;
}

.wrap-login100 {
  width: 100%;
  background: #45B649;
  border-radius: 10px;
  overflow: hidden;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 200%;
  color: #fff;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #fff;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 100%;
  color: #fff;
  line-height: 1.5;
  padding-left: 1%;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 100%;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 2% 0 10%;
}


/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-login100-form-btn {
  width: 80%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #DCE35B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 100%;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  width: 100%;
  height: 50px;
}

/*//////////////////////////////////////////////////////////////////
[ Social item ]*/
.login100-social-item {
  font-size: 200%;
  color: #000;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  border-radius: 50%;
  margin: 1%;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(36, 36, 36, 0.75);
}

.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15%;
    padding-right: 15%;
  }
} 